/*FONT*/
@font-face {
  font-family: "FonteSegoe";
  src: url("../fonts/segoeui.ttf");
}

/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*ROOT*/
:root {
  --blue01: #01a4ef;
  --blue02: #2571b7;
  --blue03: #002050;
  --gray: #7c7c7c;
  --lightGray: #dedede;
  --green: #7fba1c;
  --yellow: #fdb92f;
  --orange: #f4724d;
}

/*GENERAL*/
.mobileHidden {
  display: none !important;
}

h1.title {
  font-size: 1.8rem;
  margin-bottom: 50px;
  color: var(--blue02);
}

h2.subtitle {
  font-size: 1.3rem;
}

p.text {
  font-size: 1.2rem;
  width: 90%;
  margin-bottom: 20px;
  color: var(--gray);
  font-weight: 550;
}

section.bottomSpace {
  margin-bottom: 50px;
}

/*HTML*/
html {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-size: 16px;
  font-family: "FonteSegoe";
  text-align: center;
}

/*HEADER*/
header.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: var(--blue02);
}

header.header div#hamburguerMenu {
  width: 28px;
  height: 21px;
  margin-left: 5%;
  cursor: pointer;
}

header.header div#hamburguerMenu div.stripe {
  width: 100%;
  height: 2.5px;
  background-color: #fff;
}

header.header div#hamburguerMenu #firstStripe {
  transition: 0.3s ease;
  transform: translateY(0);
}

header.header div#hamburguerMenu #secondStripe {
  transition: 0.3s ease;
  transform: translateY(7px);
}

header.header div#hamburguerMenu #thirdStripe {
  transition: 0.3s ease;
  transform: translateY(14px);
}

header.header div#hamburguerMenu #firstStripeAnimated {
  transition: 0.3s ease;
  transform: translateY(9px) rotateZ(-45deg);
}

header.header div#hamburguerMenu #secondStripeAnimated {
  transition: 0.3s ease;
  transform: translateY(7px) rotate(45deg);
}

header.header div#hamburguerMenu #thirdStripeAnimated {
  transition: 0.3s ease;
  transform: translateY(4px) rotate(45deg);
}

header.header div.navigation {
  margin-right: 5%;
}

header.header div.navigation button#headerBtn {
  height: 30px;
  width: 120px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue03);
}

header.header div.navigation button#headerBtn:hover {
  transition: 0.5s;
  background-color: #011129;
}

section#mobileMenu {
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 300px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60px;
  background: linear-gradient(
    0deg,
    rgba(0, 19, 47, 1) 0%,
    rgba(0, 55, 105, 0.95) 100%
  );
}

section#mobileMenu nav.menuMobileScroll {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section#mobileMenu nav.menuMobileScroll ul {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section#mobileMenu nav.menuMobileScroll ul li {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

section#mobileMenu nav.menuMobileScroll ul li:last-child {
  border-bottom: none;
}

section#mobileMenu nav.menuMobileScroll ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

section#mobileMenu nav.menuMobileScroll button#up {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue03);
  cursor: pointer;
}

section.mobileMenuClosed {
  transition: 0.3s ease;
  left: 100%;
}

section.mobileMenuOpend {
  transition: 0.3s;
  left: 0;
}

/*BANNER*/
section.banner {
  height: calc(100vh - 60px);
  min-height: 400px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("../images/bannerBg.png");
  background-size: cover;
  background-position-x: 40%;
}

section.banner div.textBanner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.banner div.textBanner div.titles h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0;
}

section.banner div.textBanner div.titles h1.bannerTitle {
  transition: 3s;
  opacity: 1;
}

section.banner div.textBanner div.titles div.subtitleDiv {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section.banner div.textBanner div.titles div.subtitleDiv h2 {
  width: 300px;
  height: 70px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 550;
}

section.banner div.textBanner div.titles button {
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue01);
}

section.banner div.textBanner div.titles button:hover {
  transition: 0.5s;
  background-color: var(--blue03);
}

section.banner div.bannerLogo {
  margin-bottom: 30px;
}

section.banner div.bannerLogo img {
  width: 130px;
}

/*TEXT*/
section.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.text p:last-child {
  margin-bottom: 0;
}
/*CARDS*/

section.cards {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

section.cards div.cardsText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.cards div.card {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.cards div.card div.cardText {
  width: 70%;
  height: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section.cards div.card#first {
  background-color: var(--blue02);
}

section.cards div.card#second {
  background-color: #2c5898;
}

section.cards div.card#third {
  background-color: #2f7245;
}

section.cards div.card#fourth {
  background-color: #cb4a32;
}

section.cards div.card#fifth {
  background-color: #733a81;
}

section.cards div.card#sixth {
  background-color: #19aff0;
}

section.cards div.card#seventh {
  background-color: #094ab2;
}

section.cards div.card#eighth {
  background-color: #0073c6;
}

section.cards div.card#nineth {
  background-color: #1e93bf;
}

section.cards div.card#tenth {
  background-color: #6164b4;
}

section.cards div.card h2.subtitle {
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
}

section.cards div.card p {
  margin-bottom: 0;
  text-align: left;
  font-size: 1rem;
  color: #fff;
}

/*SUPPORT*/
section.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.support div.supportCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.support div.supportCards div.supportCard {
  width: 90%;
  border-bottom: 4px solid var(--lightGray);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

section.support div.supportCards div.supportCard div.imgSupport {
  margin-bottom: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

section.support div.supportCards div.supportCard div#supportDiv {
  background-color: var(--green);
}

section.support div.supportCards div.supportCard div#shieldDiv {
  background-color: var(--blue01);
}

section.support div.supportCards div.supportCard div#computerDiv {
  background-color: var(--yellow);
}

section.support div.supportCards div.supportCard div.imgSupport img {
  width: 50px;
}

section.support div.supportCards div.supportText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

section.support div.supportCards div.supportText h2.subtitle {
  margin-bottom: 20px;
}

section.support div.supportCards div.supportText button {
  padding: 10px 10px;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
}

section.support div.supportCards div.hands button {
  border: 1.5px solid var(--green);
  color: var(--green);
}

section.support div.supportCards div.hands button:hover {
  transition: 0.5s;
  background-color: var(--green);
  color: #fff;
}

section.support div.supportCards div.hands h2.subtitle {
  color: var(--green);
}

section.support div.supportCards div.shield button {
  border: 1.5px solid var(--blue01);
  color: var(--blue01);
}

section.support div.supportCards div.shield button:hover {
  transition: 0.5s;
  background-color: var(--blue01);
  color: #fff;
}

section.support div.supportCards div.shield h2.subtitle {
  color: var(--blue01);
}

section.support div.supportCards div.computer button {
  margin-bottom: 0;
  border: 1.5px solid var(--yellow);
  color: var(--yellow);
}

section.support div.supportCards div.computer button:hover {
  transition: 0.5s;
  background-color: var(--yellow);
  color: #fff;
}

section.support div.supportCards div.computer h2.subtitle {
  color: var(--yellow);
}

section.support div.supportCards div.supportCard.computer {
  border-bottom: none;
  margin: 0;
}

/*TABLE*/
section.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.table div.tables {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.table div.tables div.tableText {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid var(--lightGray);
  border-bottom: none;
}

section.table div.tables div.tableText:last-child {
  border-bottom: 3px solid var(--lightGray);
}

section.table div.tables div.tableText h2.subtitle {
  color: var(--orange);
}

section.table div.tables div.tableText p.text {
  margin-bottom: 0;
}

/*PHOTO*/
section.photo {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/agreement.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section.photo p {
  width: 90%;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 550;
}

/*FORM*/
section.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.form form {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lightGray);
}

section.form form div {
  width: 100%;
}

section.form form label {
  text-align: left;
  margin: 0 0 5px 5%;
  display: block;
  color: var(--gray);
}

section.form form div input {
  width: 88%;
  height: 40px;
  padding-left: 2%;
  font-size: 1rem;
  border: none;
  color: var(--gray);
  outline-color: var(--blue02);
}

section.form form div input::placeholder {
  color: var(--lightGray);
}

section.form form div input#footerBtn {
  width: 90%;
  height: 50px;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue01);
}

section.form form div input#footerBtn:hover {
  transition: 0.5s;
  background-color: var(--blue02);
}

/*FOOTER*/
footer.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer.footer div.imgFooter {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.footer div.imgFooter div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

footer.footer div.imgFooter div:last-child {
  margin: 0;
  margin-left: 10px;
}

footer.footer div.imgFooter div img {
  width: 30px;
  margin-right: 5px;
}

footer.footer div.imgFooter div img:last-child {
  width: 100px;
}

footer.footer p {
  margin-bottom: 20px;
  color: var(--lightGray);
}

/*DESKTOP*/
@media screen and (min-width: 768px) {
  /*GENERAL*/
  p.text {
    font-size: 1.1rem;
  }

  h2.subtitle {
    font-size: 1.1rem;
  }

  .desktopHidden {
    display: none !important;
  }

  .mobileHidden {
    display: block !important;
  }

  /*HEADER*/
  header.header {
    height: 80px;
  }

  header.header > a {
    margin-left: 5%;
  }

  header.header a img {
    width: 120px;
  }

  header.header div.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header.header div.navigation nav.menu {
    width: 100%;
    height: 100%;
  }

  header.header div.navigation nav.menu ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  header.header div.navigation nav.menu ul li {
    width: 30%;
    list-style: none;
  }

  header.header div.navigation nav.menu ul li a {
    transition: 0.5s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  header.header div.navigation nav.menu ul li a.on {
    transition: 0.5s;
    color: var(--blue03);
    font-weight: bold;
  }

  header.header div.navigation nav.menu ul li a:hover {
    transition: 0.5s;
    color: var(--blue03);
    font-weight: bold;
  }

  header.header div.navigation button#headerBtn {
    width: 150px;
    height: 35px;
  }

  /*BANNER*/
  section.banner {
    height: calc(100vh - 80px);
    min-height: 450px;
    margin-top: 80px;
  }

  section.banner div.textBanner {
    padding-left: 5%;
    justify-content: flex-start;
    text-align: left;
  }

  section.banner div.textBanner div.titles h1 {
    font-size: 4.5rem;
  }

  section.banner div.textBanner div.titles div.subtitleDiv h2 {
    width: 100%;
    font-size: 1.8rem;
  }

  section.banner div.textBanner div button {
    width: 220px;
    height: 60px;
    font-size: 1.5rem;
  }

  section.banner div.bannerLogo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.banner div.bannerLogo img:first-child {
    width: 70px;
    cursor: pointer;
    -moz-animation: bounce 1.5s infinite ease-in-out;
    -webkit-animation: bounce 1.5s infinite ease-in-out;
    animation: bounce 1.5s infinite ease-in-out;
  }

  @keyframes bounce {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  section.banner div.bannerLogo a {
    height: 100%;
  }

  /*TEXT*/
  section.text span {
    color: var(--orange);
    font-weight: 600;
  }

  /*CARDS*/
  section.cards div.card {
    width: 49%;
    height: 130px;
    justify-content: space-evenly;
    display: flex !important;
  }

  /*SUPPORT*/
  section.support div.supportCards {
    flex-direction: row;
    margin: 0 5% 50px 5%;
  }

  section.support div.supportCards div.supportCard div.imgSupport img {
    width: 70px;
  }

  section.support div.supportCards div.supportCard {
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 0;
  }

  section.support div.supportCards div.supportCard div.supportText {
    align-items: center;
    text-align: center;
  }

  section.support
    div.supportCards
    div.supportCard
    div.supportText
    div.stripeDown {
    width: 80px;
    height: 3px;
    margin-bottom: 20px;
    background-color: var(--lightGray);
  }

  section.support div.supportCards div.supportCard div.supportText button {
    margin-bottom: 0;
  }

  /*TABLE*/
  section.table div.tables {
    flex-direction: row;
  }

  section.table div.tables div.tableText {
    height: 230px;
    border-right: none;
    border-bottom: 3px solid var(--lightGray);
  }

  section.table div.tables div.tableText:last-child {
    border-right: 3px solid var(--lightGray);
  }

  /*PHOTO*/
  section.photo {
    height: 320px;
  }

  section.photo p {
    font-size: 2.5rem;
  }

  /*FORM*/
  section.form form {
    width: 40%;
    height: 580px;
  }

  @media screen and (min-width: 992px) {
    /*GENERAL*/
    p.text {
      font-size: 1.2rem;
    }

    h2.subtitle {
      font-size: 1.3rem;
    }

    /*HEADER*/
    header.header div.navigation {
      width: 80%;
    }

    header.header div.navigation nav.menu {
      width: 65%;
      margin-left: 35%;
    }

    /*SUPPORT*/
    section.support div.supportCards div.supportCard div.imgSupport img {
      width: 80px;
    }

    /*PHOTO*/
    section.photo p {
      font-size: 3rem;
    }
  }
}
